@page
@model SIMPL.Pages.tasks.CreateModel
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}



@{
    var countT = 0;
    foreach (var x in Model.AllTask)
    {
        countT = x.TaskId;
    }
    countT += 1;

    var TheName = "";
    foreach (var x in Model.TheTask)
    {
        TheName = x.Project.ProjectName;
        break;
    }
}

<h2>Create Task</h2>

<hr />

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-2">
                <label class="control-label">Task Id</label>
                <input asp-for="Tasks.TaskId" class="form-control" value="@countT" disabled />
                <span asp-validation-for="Tasks.TaskId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Tasks.ProjectId" class="control-label"></label>
                <select asp-for="Tasks.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            @*<div class="form-group col-md-5">
                    <label class="control-label">Project Name</label>
                    <input asp-for="Tasks.Project.ProjectName" class="form-control" value="@TheName" readonly />
                    <span asp-validation-for="Tasks.Project.ProjectName" class="text-danger"></span>
                </div>*@
            <div class="form-group col-md-5">
                <label class="control-label">Task Name</label>
                <input asp-for="Tasks.Name" class="form-control" required/>
                <span asp-validation-for="Tasks.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea rows="5" asp-for="Tasks.Description" class="form-control" required></textarea>
                <span asp-validation-for="Tasks.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="control-label">Vendor     </label><a asp-page="/Vendors/index" style="font-size:x-small;">Manage Vendors</a>
                <select asp-for="Tasks.VendorId" class="form-control" asp-items="ViewBag.VendorId"></select>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Location     </label><a asp-page="/Locations/index" style="font-size:x-small;">Manage Locations</a>
                <select asp-for="Tasks.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
            </div>

            @{ 
                var date = DateTime.Now.ToString("MM/dd/yyyy");
            }

            <div class="form-group col-md-4">
                <label class="control-label">Date Created</label>
                <input asp-for="Tasks.DateCreated" type="datetime" class="form-control" value="@date" disabled/>
                <span asp-validation-for="Tasks.DateCreated" class="text-danger"></span>
            </div>
        </div>
        <div class="row">        
            @{
                var you = UserManager.GetUserName(User).ToString();
                var youID = UserManager.GetUserId(User).ToString();
            }
            <div class="form-group col-md-6">
                <label class="control-label">Created By</label>
                <input class="form-control" value="@you" disabled />
            </div>
            <div class="form-group col-md-6" hidden>
                <label class="control-label">Created By</label>
                <input asp-for="Tasks.CreatedById" class="form-control" value="@youID" />
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Cost Type</label>
                <select asp-for="Tasks.CostTypeId" class="form-control" asp-items="ViewBag.CostTypeId"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label">Estimated Cost</label>
                <input asp-for="Tasks.EstimatedCost" class="form-control" />
                <span asp-validation-for="Tasks.EstimatedCost" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Actual Cost</label>
                <input asp-for="Tasks.ActualCost" class="form-control" />
                <span asp-validation-for="Tasks.ActualCost" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Estimated Hours</label>
                <input asp-for="Tasks.EstimatedHours" class="form-control" />
                <span asp-validation-for="Tasks.EstimatedHours" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">Actual Hours</label>
                <input asp-for="Tasks.ActualHours" class="form-control" />
                <span asp-validation-for="Tasks.ActualHours" class="text-danger"></span>
            </div>            
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
