@page
@model SIMPL.Pages.AdminModel

@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].NormalizedUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].NormalizedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].IdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].LockoutEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </th>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-area="Identity" asp-page="/Account/Manage/index" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Archive User</a>
            </td>
        </tr>
}
    </tbody>
</table>
