@page
@model SIMPL.Pages.AdminModel
@inject UserManager<AspNetUsers>


@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers[0].LockoutEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </th>
            <td>
                <a asp-area="Identity" asp-page="/Account/Manage/index" asp-route-id="@item.Id">Details</a> |
                <a asp-page="admin/Admin" onclick="item.Id.SetLockoutEndDateAsync(await _userManager.FindByIdAsync(user), DateTime.UtcNow.AddMinutes(42));">Archive User</a>
            </td>
        </tr>
}
    </tbody>
</table>
