@page
@model SIMPL.Pages.vendors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.Zipcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.Zipcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendors.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendors.Organization)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vendors.VendorId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
